@media screen and (max-width: 550px) {
  .snap__btn {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
  }
}
