@media screen and (max-width: 550px) {
  .snap__hero__image_container {
    margin-top: 0;
    padding-top: 0;
  }

  .snap__hero__image__container_pic img {
    margin-bottom: 3.5rem;
  }

  .snap__hero_container {
    padding-top: 15px;
  }

  .snap__hearo_heading {
    margin-top: 0;
    text-align: center;
  }

  .snap__hearo_heading h1 {
    font-size: 37px;
    line-height: 30px;
  }

  .snap__hero_paragraph {
    margin-top: 10px;
    padding: 0.5rem;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
  }

  .snap__hero__client_container {
    margin-top: 0;
  }

  .snap__hero__client__image_container {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .snap__hero__client__image_container img {
    min-width: 50px;
    max-width: 80px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
